.collection-center{
    display: flex;
    justify-content: center;
}
.collection-container{
    width: 90%;
}
.collection-header-title{
    font-size: 2em;
    font-weight: 300;
    margin: 1em;
    text-transform: uppercase;
}
.collection-label-image-container{
    margin: 1em;
    border: 1px solid black;
}

.collection-label-image{
    width: 100%;
    height: 30em;
}

.collection-1-layout{
    margin: 1em;
}

.collection-item-image-container{
    margin-bottom: 1em;
}

.collection-item-image{
    width: 100%;
    height: 20em;
    border: 1px solid black;
    cursor: pointer;
}

.collection-item-image:hover{
    background-color: white;
    box-shadow: 0px 25px 40px rgba(77, 77, 77, 0.262);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-top: 15px;
}

.collection-item-title{
    font-size: 1.5em;
    text-transform: capitalize;
}


