.carousel-img-size{
    width: 100%;
    min-height: 100vh;
}

.logo-home-container{
    padding: 0.5em;
}

.logo-img-home{
    width: 18em;
    height: 15em;
}

.home-branding{
    background-color: white;
}

.home-branding-img{
    width: 100%;
    height: 22.5em;
}

/* COLLECTIONS STYLING */

/* .collections-card-container{
    margin : 1em 5em;
}

.feature-collection-header{
    font-size: 1.5em;
    font-weight: 600;
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.collection-break-space{
    padding: 1em;
}

.collection-img-home{
    width: 33%;
    height: 5em;
}

.collection-card-item{
    cursor: pointer;
    background-color: white;
}

.collection-card-item:hover{
    background-color: white;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-top: 10px;
  }

.collections-label-text{
    text-align: center;
    font-size: 3em;
    font-family: Brush Script MT;
}

.collections-desc-container{
    text-align: center;
    margin-top: 1em;
}

.collections-desc-text{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.view-more-container{
    margin-top: 2em;
}

.view-btn-style{
    width: 60%;
    border-radius: 0;
    font-size: 0.9em;
    text-transform: uppercase;
}

.view-btn-style:hover{
    background-color: black;
} */


@media only screen and (max-width: 700px) {
    .carousel-img-size{
        min-height: 20em;
    }
    .home-branding-img{
        height: 15em;
    }
    .view-btn-style{
        width: 80%;
        margin-bottom: 2em;
    }
    .collections-card-container{
        margin : 1em 2em;
    }
  }

@media only screen and (min-width: 1500px) {
    .home-branding-img{
        height: 25em;
        width: 80%;
    }
  }