.header-container{
    height: 5em;
}

.logo-img{
    height: 5em;
    width: 8em;
    cursor: pointer;
}

.logo-container{
    width: 33%;
}

.header-bg-color{
    background-color: black;
}

.nav-link-anchor{
    text-decoration: 'none'
}

.nav-link{
    color: white !important;
}

.nav-link:hover{
    color: wheat !important;
}

.link-text{
    color: wheat;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'BioRhyme', serif;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 200ms ease-out;
}

.header-dropdown .dropdown-menu{
    cursor: pointer;
    font-size: 1.2em;
}

.header-dropdown .dropdown-menu .dropdown-item:hover{
    background-color: wheat !important;
}

