.footer-container{
    border-top: 2px solid beige;
}
.footer-background{
    background-color: white;
}
.footer-logo{
    cursor: pointer;
    margin: 0 0.5em;
    color: black;
    font-size: 1.5em;
}

.footer-logo:hover{
    color: #031f0f;
    transition: all 200ms ease-out;
    font-size: 2em;
}

.footer-sub-container{
    padding : 0.25em;
}

.footer-text{
    color: black;
    font-size: 1.5em;
    margin-bottom: 0.1em;
}

.footer-copyright{
    padding-bottom: 0.5em;
}

.copyright-text{
    color: black;
    cursor: pointer;
    font-family: 'BioRhyme', serif;
    text-decoration: none;
    font-size: 1em;
}
.copyright-text:hover{
    color: burlywood;
    font-size: 1.25em;
    transition: all 400ms ease-out;
}


