.sample-container{
  margin: 1em;
}
.sample-img-container{
    margin-right: 2em;
}

.collection-item-sample-image{
    height: 60em;
    width: 100%;
    border: 2px black solid;
}

.sample-desc-container{
    margin: 0 1em;
    text-align: justify;
}

.sample-title{
    font-size: 1.5em;
    font-weight: 600;
}

.sample-id{
    font-size: 1.em;
}

.sample-desc{
    font-size: 1.25em;
    margin: 1em 0;
}

.sample-price{
    font-size: 1.25em;
    margin-bottom: 1em;
    font-weight: bolder;
}

.contact-logo{
    height: 1.5em;
    width: 1.5em;
    padding-right: 1em;
}

.contact-us-card{
    width: 75%;
    text-align: left;
}

.contact-us-card .card{
    background-color: white;
}

.contact-card-spacing{
    padding: 0.75em;
}

.contact-text{
    margin: 1em 0;
    font-size: 1.25em;
}

.whatsapp-contact-text{
    text-decoration: none;
    font-size: 1.25em;
    padding: 0.5em;
    border: 1px solid gray;
    border-radius: 25px;
    color: white;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;

    background: linear-gradient(to right, wheat, wheat 50%, black 50%);
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 400ms ease;
}

.whatsapp-contact-text:hover{
    color: black;
    background-position: 0 100%;
}

@media only screen and (max-width: 768px) {
    .sample-img-container{
        margin-right: 0;
    }
    .contact-us-card{
        width: 100%;
    }
    .contact-text{
        font-size: 1em;
    }
    .collection-item-sample-image{
        height: 30em;
    }
}